* {
    box-sizing: border-box;
  }

body{
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container{
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container input{
    text-align: end;
    font-size: 24px;
    margin-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.48);
    width: 320px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container button{
    background-color: rgba(128, 128, 128, 0.195);
    border: none;
    padding: 15px;
    width: 80px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.container button.operation{
	color: rgb(191, 125, 2);
}

.empty-box {
    width: 80px;
}